<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<main>
    <header><a href="<%- meta.home %>" target="_top"><%= meta.name %></a></header>
    <h1>webring is improperly configured :(</h1>
    <p><%= error %></p>
</main>